<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>My Cocos2d-x Class</string>
	<key>Description</key>
	<string>A Cocos2d-x class</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>What cocos class to subclass in the new file</string>
			<key>Default</key>
			<string>Custom</string>
			<key>Identifier</key>
			<string>cocosSubclass</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Custom</string>
				<string>Node</string>
				<string>Scene</string>
				<string>Sprite</string>
				<string>Layer</string>
			</array>
		</dict>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Identifier</key>
			<string>customSubclass</string>
			<key>Name</key>
			<string>Custom Subclass of:</string>
			<key>NotPersisted</key>
			<false/>
			<key>RequiredOptions</key>
			<dict>
				<key>cocosSubclass</key>
				<array>
					<string>Custom</string>
				</array>
			</dict>
			<key>Type</key>
			<string>class</string>
		</dict>
	</array>
	<key>SortOrder</key>
	<string>7</string>
	<key>Summary</key>
	<string>A Cocos2d-x class</string>
</dict>
</plist>
